.main {
  padding: 5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stu {
  font-size: 2.0rem;
  font-weight: 700;
  color: black;
}

.btn{
    width: 13rem;
    height: 3rem;
    border-radius: 10px;
    background-color: aliceblue;
}